export(econ_lm)
export(econ_vcov)

S3method(coef,econ_lm)
S3method(vcov,econ_lm)
S3method(residuals,econ_lm)
S3method(fitted,econ_lm)
S3method(predict,econ_lm)
S3method(summary,econ_lm)
S3method(print,econ_lm)
S3method(print,summary.econ_lm)
S3method(hatvalues,econ_lm)
S3method(model.matrix,econ_lm)
S3method(weights,econ_lm)
S3method(nobs,econ_lm)
S3method(sandwich::bread,econ_lm)
S3method(sandwich::estfun,econ_lm)
S3method(tidy,econ_lm)
S3method(glance,econ_lm)
S3method(confint,econ_lm)
S3method(anova,econ_lm)

importFrom(sandwich,bread)
importFrom(sandwich,estfun)
importFrom(generics,tidy)
importFrom(generics,glance)
importFrom(stats,hatvalues)
importFrom(stats,weights)
importFrom(stats,nobs)
importFrom(stats,anova)
importFrom(stats,formula)
importFrom(stats,printCoefmat)
